[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
sympy = "*"
pillow = "*"
flask = "*"
build = "*"

[dev-packages]

[requires]
python_version = "3.13"
